<%= form_with(model: @employee, local: true, class: 'needs-validation') do |form| %>
  <% if @employee.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">There were some errors:</h4>
      <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control', placeholder: 'Enter first name', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control', placeholder: 'Enter last name', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.email_field :email, class: 'form-control', placeholder: 'Enter email', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :designation, class: 'form-label' %>
    <%= form.text_field :designation, class: 'form-control', placeholder: 'Enter designation', required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :department_id, "Department", class: 'form-label' %>
    <%= form.collection_select :department_id, Department.all.uniq, :id, :name, { prompt: 'Select a Department' }, { class: 'form-select', required: true } %>
  </div>

  <div class="d-flex justify-content-left">
    <%= form.submit @employee.new_record? ? 'Create Employee' : 'Update Employee', class: 'btn btn-primary' %>
    <%= link_to 'Back to employees', employees_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
